/* button sizes start */

@import '../responsive scopes.scss';



.btn-xxl {
	font-size: 18px;
	padding: 13px 21px;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.02em;
	border-radius: 3px;

	&.btn-outline {
		padding-top: 12px;
		padding-bottom: 12px;
	}

	@media #{$xs} {
		width: 100%;
		display: block;
	}
}



.btn-lg,
.btn-group-lg > .btn {
	border-radius: 4px;
	font-size: 17px;
	padding: 11px 19px;
	-webkit-font-smoothing: antialiased;
}




.btn-md {
	padding: 10px 18px;
}




.btn-sm,
.btn-group-sm > .btn {
	letter-spacing: 0.05em;
}



.btn-xs {
	padding: 2px 6px;
	font-size: 11px;
	letter-spacing: 0.04em;
}




