/* block backgrounds (design mixins) start */

.darken { background-color: rgba(46, 36, 51, 0.8); }
.darken-blending { background-blend-mode: soft-light; }

.bg-white { background-color: white; }
.bg-black { background-color: #0C1F2E; }





// собственно боевые микс-ины

@mixin color-overlay(
	$url,
	$color: hsl(280, 17%, 17%),
	$opacity: .2
) {
	$color-1: transparentize( $color, $opacity );
	background-image:
		linear-gradient( $color-1, $color-1 ),
		url($url);
}


@mixin gradient-overlay( 
	$url,
	$color: hsl(280, 17%, 17%),
	$opacity-1: .3,
	$opacity-2: .02
) {
		$color-1: transparentize( $color, $opacity-1 );
		$color-2: transparentize( $color, $opacity-2 );
		background-image:
			linear-gradient( $color-1, $color-2 ),
			url($url);
}


@mixin vignette(
	$url,
	$color: hsl(280, 10%, 10%),
	$opacity-1: .5,
	$opacity-2: .2,
	$center: center
) {
	$color-1: transparentize( $color, $opacity-1 );
	$color-2: transparentize( $color, $opacity-2 );
	background-image:
		radial-gradient($center, $color-1, $color-2 ),
		url($url);
}



@mixin transparent-color(
	$url,
	$color,
	$opacity: .2
) {
	$color-1: transparentize( $color, $opacity );
	$color-2: transparentize( $color, $opacity );
	background-image:
		linear-gradient( $color-1, $color-2 ),
		url($url);
}

// белые листки, поднятые с тенью (лучше над тёмным фоном)

%panel-4 {
	border: solid 1px rgb(224, 224, 224);
	border-radius: 2px;
	margin-bottom: 20px;
	background-color: hsl(0, 0%, 96%);
}

%panel-5 {
	border-radius: 2px;
	margin-bottom: 20px;
	background-color: hsl(0, 0%, 96%);
	box-shadow: 0 12px 5px -10px hsla(0, 0%, 0%, 0.6);
}




// подборка красивых фонов

%milk-1 {
	// from http://colorsublime.com
	background-image: radial-gradient(45px 45px, hsl(0, 100%, 100%) 100%,hsl(0, 1%, 87%) 1000%);
}


%rainbow-1 {
	// from http://colorsublime.com
	background-image: linear-gradient(left, hsl(0, 100%, 50%),hsl(300, 100%, 50%),hsl(240, 100%, 50%),hsl(180, 100%, 50%),hsl(120, 100%, 50%),hsl(60, 100%, 50%),hsl(0, 100%, 50%));
}

%black-stripes-1 {
	background-color: hsl(0, 0%, 12%);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGXRFW…FJREFUeNpi/P//PwMMMDIy/mdC5oAoBqgKhDJ0DkCAAQColQoB2kS7lAAAAABJRU5ErkJggg==);
}

%bg-paper {
	background-color: #FAFAF7;
	background-image: radial-gradient(ellipse at center top, hsl(60, 20%, 98%) 0%, hsl(60, 20%, 97%) 100%);
}

/* block backgrounds (design mixins) end */
