@mixin border-img($side, $width-no-px, $img: none) {
	$source: url($img);
	$slice: $width-no-px; // !без пикселей! это какой высоты (если top/bottom) кусок от картинки будет использован в качестве картинки для бордера (принимает 4 значения для всех сторон)
	$b-width: #{$width-no-px}px; // а это уже ширина самого бордера. То же, что и border-width
	$repeat: repeat;

	@if $side == top {
		border-image: $source $slice 0 0 0 / $b-width 0px 0px 0px $repeat;
	} @if $side == "all" {
		border-image: $source $slice / $b-width $repeat;
	} @else {
		border-image: $source 0 0 $slice 0 / 0px 0px $b-width 0px $repeat;
	}
}
