/* button social (design mixins) start */


/* - import mixins/colors-socialnets */
@import 'colors-socialnets';

@import 'bgGradient-and-hover';



// Нужна обратная интерполяция — из двух стрингов сделать работающее название переменной
// @each $service in facebook, vkontakte, googleplus, odnoklassniki, twitter, instagram, email
// {
// 	.icon-#{$color} {
// 		color: $col- + $service;
// 	}
// }

// Вроде нашёл:
// $products: class1 #C00, class2 #00C, class3 #0C0, class4 #000;

// @each $kvp in $products { // kvp stands for 'key-value pair'
//     .page-#{nth($kvp, 1)} {
//         a {
//             color: nth($kvp, 2);
//         }
//     }
// }








// Покраска кнопок в фирменные цвета на основе названий


@mixin add-textColor-by-iconName {
// красит текст в фирменный цвет
// применять к parent

	.icon-facebook { color: $col-facebook; }
	.icon-vkontakte { color: $col-vkontakte; }
	.icon-googleplus { color: $col-googleplus; }
	.icon-odnoklassniki { color: $col-odnoklassniki; }
	.icon-twitter { color: $col-twitter; }
	.icon-instagram { color: $col-instagram; }
	.icon-email { color: $col-email; }
}


	@mixin add-bgGradient-by-auxClass {
	// присваивает градиент в background-image на основе доп класса + затемнение градиента при :hover
	// применять к a.btn

		&.btn-facebook { @include bgGradient-and-hover( $col-facebook ); }
		&.btn-twitter { @include bgGradient-and-hover( $col-twitter ); }
		&.btn-google { @include bgGradient-and-hover( $col-googleplus ); }
		&.btn-vkontakte { @include bgGradient-and-hover( $col-vkontakte ); }
		&.btn-email { @include bgGradient-and-hover( $col-email ); }

		&:hover { color: white; }
	}





// создание разновидностей кнопок


@mixin btn-share-panel($border-radius: 0px)
{
	border-radius: $border-radius;
	border-width: 0;

	font-size: 1.2em;
	font-weight: bold;
	color: white !important;

	text-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.2);
	box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2);

	@include add-bgGradient-by-auxClass;
}


@mixin btn-share-textcolor($fontSize: 2em)
{
	font-size: $fontSize;
	&:hover { text-decoration: none; }

	@include add-textColor-by-iconName;
}


@mixin social-plaintext
{
	@include add-textColor-by-iconName;
}



/* button social (design mixins) end */