$col-facebook: #3b5998;
$col-twitter: #55acee;
$col-vkontakte: #45668e;
$col-googleplus: #dd4b39;
$col-instagram: #3f729b;
$col-linkedin: #0976b4;
$col-livejournal: #13aeef;
$col-odnoklassniki: #ed812b;
$col-email: rgb(95, 50, 176);


.text-facebook { color: $col-facebook; }
.text-vkontakte { color: $col-vkontakte; }
.text-googleplus { color: $col-googleplus; }
.text-odnoklassniki { color: $col-odnoklassniki; }
.text-twitter { color: $col-twitter; }
.text-instagram { color: $col-instagram; }
.text-linkedin { color: $col-linkedin; }
.text-livejournal { color: $col-livejournal; }
.text-email { color: $col-email; }

.color-facebook { color: $col-facebook; }
.color-vkontakte { color: $col-vkontakte; }
.color-googleplus { color: $col-googleplus; }
.color-odnoklassniki { color: $col-odnoklassniki; }
.color-twitter { color: $col-twitter; }
.color-instagram { color: $col-instagram; }
.color-linkedin { color: $col-linkedin; }
.color-livejournal { color: $col-livejournal; }
.color-email { color: $col-email; }