/* features list (design mixins) start */


@import 'responsive scopes';
@import 'decor/block backgrounds';


@mixin icon-on-top( $icon-size ) {

	img,
	object {
		height: $icon-size;
	}

	.glyphicon,
	.icomoon {
		font-size: $icon-size - 5;
		margin: .4em 0 .3em 0;
		display: inline-block;
	}

	h3, h4 {
		// margin-top: $icon-size * 0.1;
		margin-top: 0;
	}
	
}


@mixin icon-on-top-2( $icon-size ) {

	img,
	object {
		height: $icon-size;
	}

	.glyphicon,
	.icomoon {
		font-size: $icon-size;
		margin-bottom: .3em;
		display: inline-block;
	}

	h3, h4 { margin-top: 0; }
	
}








	@mixin common-in-features(
		$icon-size-lg,
		$adjust-md,
		$adjust-sm,
		$adjust-xs
	) {

		.glyphicon,
		.icomoon,
		img.feature-icon,
		object.feature-icon
		{
			$threshold: 20px;
			@if ($icon-size-lg * 0.3 > $threshold) { margin-bottom: $threshold; }
			@else { margin-bottom: $icon-size-lg * 0.3; }
		}

		img.feature-icon,
		object {
			@media #{$xs} { height: $icon-size-lg * $adjust-xs; }
			@media #{$sm} { height: $icon-size-lg * $adjust-sm; }
			@media #{$md} { height: $icon-size-lg * $adjust-md; }
			@media #{$lg} { height: $icon-size-lg; }
		}

		.glyphicon,
		.icomoon {
			display: inline-block;

			@media #{$xs} { font-size: $icon-size-lg * $adjust-xs; }
			@media #{$sm} { font-size: $icon-size-lg * $adjust-sm; }
			@media #{$md} { font-size: $icon-size-lg * $adjust-md; }
			@media #{$lg} { font-size: $icon-size-lg; }
		}

		h3, h4, h5 { margin-top: 0; }
		p { @extend .text-muted; }
	}



@mixin features-ul(
	$align: center,
	$icon-size-lg: 70px,
	$md: 1,
	$sm: .7,
	$xs: 1
) {
	
	@include common-in-features( $icon-size-lg, $md, $sm, $xs );

	text-align: center; // чтобы li с коротким содержимым не съезжали влево
	padding-left: 0;	// у ul часто отступ слева для буллитов
	// margin-left: 0;	 у ul часто отступ слева для буллитов — но это может конфликтовать с margin-left: auto в li-grid, т. что нужно ставить li-grid после
	list-style-type: none;	// ясно

	li {
		 text-align: $align;
		 vertical-align: top;
	}
}




@mixin features-div(
	$align: center,
	$icon-size-lg: 70px,
	$md: 1,
	$sm: .7,
	$xs: 1
) {
	@include common-in-features( $icon-size-lg, $md, $sm, $xs );

	& > div { text-align: $align; }

}







@mixin timeline-ol (
	$line-url: 'http://placehold.it/2x10'
) {
	background-image: url($line-url);
	background-repeat: repeat-y;
	background-position-x: 19px;
}




@mixin timeline-ol-2 () {

	list-style-type: none;
	padding-left: 0;

	li {
		@extend %panel-4;
	}
}

@mixin benefits-1( $icon-url ) {
	li {
		background-image: url($icon-url);
		background-position-y: 4px;
	}
}




/* features list (design mixins) end */
