@mixin hover-image-opacity ( $opacity: .7 ) {
	// this is container, say, LI

	background-color: black;
	display: block;

	.hover-image {
		opacity: 1;
		transition: all;
		transition-duration: .5s;
	}

	&:hover {
		.hover-image {
			opacity: .8;
		}
	}
}
