/* (design mixins) / invert colors */

@mixin invert-prototype(
	$invert-link-color: hsl(200, 70%, 70%),
	$color-text: hsl(0, 0%, 25%),
	$font-smoothing: antialiased
) {
	
	color: rgba(255, 255, 255, 0.8);
	-webkit-font-smoothing: $font-smoothing;

	.btn,
	.btn:hover { color: white; }

	.muted { color: rgba(255, 255, 255, 0.5); }

	b, .lead { color: white; }

	h1, h2, h3, h4, h5,
	.h1, .h2, .h3, .h4, .h5 { color: hsla(0, 100%, 100%, 0.9) !important; }
	
	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea { color: $color-text; }

	fieldset { background: rgba(255,255,255,0.06); }

	hr { border-top-color: rgba(128, 128, 128, 0.26); }

	.rule-above,
	.rule-below { border-color: rgba(255,255,255,0.2); }

	// .nav-pills a:hover { color: white; }

}

/* end (design mixins) / invert colors */
