/* mixins / responsive width start */

@import "responsive scopes";
@import "susy";

.width-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@media (min-width: 768px) { width: 750px; }
	@media (min-width: 992px) { width: 970px; }
	@media (min-width: 1200px) { width: 1170px; }
}


%susy-container-steps {
	
	@include container;

	@media (min-width: 768px) { width: 750px; }
	@media (min-width: 992px) { width: 970px; }
	@media (min-width: 1200px) { width: 1170px; }
}

%susy-container-margins {

	@include container;
	
	@media #{$xs} {
		margin-left: 10px;
		margin-right: 10px;
	}
	@media #{$sm-md} {
		margin-left: 30px;
		margin-right: 30px;
	}
	@media #{$lg} {
		margin-left: auto;
		margin-right: auto;
		max-width: 1140px;
	}
}








/* mixins / responsive width end */