/* rouble (be) start */

%rouble-underline {
	display: inline-block;
	position: relative;

	&:before {
		display: block;
		content: "–";
		position: absolute;
		top: 0.05em;
	}
}


@font-face {
	font-family: 'ALS rouble';
	src: url('../fonts/rouble/rouble-webfont.eot');
	src: url('../fonts/rouble/rouble-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/rouble/rouble-webfont.woff') format('woff'),
		 url('../fonts/rouble/rouble-webfont.ttf') format('truetype'),
		 url('../fonts/rouble/rouble-webfont.svg#als_rublregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

%rouble-fontface {
	font-family: "ALS rouble";
}



// usage

// @import 'mixins/rouble.scss';

// .rouble {
// 	@extend %rouble-fontface;
// 	@extend %rouble-underline;
// }




/* rouble (be) end */