@mixin triangle-bottom-cutout
(
	$cut-out-mask: '../images/hr/cut-out.svg',
	$triangle-height: 20px,
	$bg-photo: 'photo.jpg'
) {
	background-image: url($cut-out-mask), url($bg-photo);
	background-color: white;
	background-position: center bottom, center top;
	background-size: auto $triangle-height, cover;
	background-repeat: no-repeat;
}

@mixin triangle-bottom-cutout-after
(
	$cut-out-mask: '../images/hr/cut-out.svg',
	$triangle-height: 20px,
	$bg-photo: 'photo.jpg'
) {
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: $triangle-height;
		background: url($cut-out-mask) no-repeat center bottom;
	}
}


@mixin triangle-top-color-1
(	
	$triangle-url,
	$triangle-height: 70px
) {
	padding-top: $triangle-height;
	background: url($triangle-url) no-repeat center top;
	background-size: auto, $triangle-height;
}