
// approach 1
// IE 8+

%valign-1-parent {
	display: table;
	table-layout: fixed; // for bootstrap
}

%valign-1-block {
	display: table-cell;
	vertical-align: middle;
}


// approach 2

%valign-2-parent {
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
}

%valign-2-block {
	display: inline-block;
	vertical-align: middle;
}


// for susy gallery

%valign-3-container {
	@extend %valign-2-parent;
}

%valign-3-block {
	@extend %valign-2-block;
	max-width: 96%;
}