

// IE 8+

@mixin valign-1-parent {
	display: table;
	table-layout: fixed; // for bootstrap
}

@mixin valign-1-block {
	display: table-cell;
	vertical-align: middle;
}



@mixin valign-2-parent {
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
}

@mixin valign-2-block {
	display: inline-block;
	vertical-align: middle;
}