/* design mixins / hanging icon start */



// Как в принципе можно реализовать hanging icons:
// - background-image у li
// - картинку в HTML и обернуть всё в дивы
// - картинку или иконку в строчку, и у текста отрицательный text-indent
// - :before
// - картинку в HTML и свешивать влево position: relative + left: -50px


@mixin hanging-icon-div-1(
	$gutter: 15px
) {
	// structure: 
	// <div class="hanging-icon">
	// 	<img class="icon">
	// 	<div class="text">
	// 		<p></p>
	// 	</div>
	// </div>

	& > .icon {
		float: left;
		margin-right: $gutter;
	}
	& > .text {
		float: left;
	}
}

@mixin hanging-icon-div-2(
	$gutter: 15px,
	$icon-padding-top: 0px,
	$gutter-tight: 8px
) {
	// structure: 
	// <div class="hanging-icon">
	// 	<div class="icon">
	//			<img>
	//		</div>
	// 	<div class="text">
	// 		<p></p>
	// 	</div>
	// </div>

	& > .icon,
	& > .text {
		display: table-cell;
		vertical-align: top;
	}

	& > .icon {
		padding-right: $gutter;
		padding-top: $icon-padding-top;

		&.tight { padding-right: $gutter-tight; }
	}

	& > .text {
		h2, h3, h4, h5 {
			&:first-child { margin-top: 0; }
		}
	}
}



@mixin hanging-icons-ul-1(
	$img-width: 40,
	$gutter: 20px
) {
	list-style: none;
	padding-left: 0;
	margin-left: 0;

	li {
		background-image: url('http://placehold.it/#{$img-width}x#{$img-width}');
		background-repeat: no-repeat;
		padding-left: $img-width + $gutter;
	}
}


/* design mixins / hanging icon end */
