.rule-above {
	border-top: solid 1px hsl(0, 0%, 97%);
	padding-top: 1em;
	margin-top: 1.3em;
	max-width: 100%;
}

.rule-below {
	border-bottom: solid 1px hsl(0, 0%, 97%);
	padding-bottom: 0.6em;
	margin-bottom: 1em;
	max-width: 100%;
}



			// @mixin something-below (
			// 	$thickness,
			// 	$color,
			// 	$width
			// ) {
			// 	&:after {
			// 		content: '';
			// 		display: block;
			// 		height: $thickness;
			// 		width: $width;
			// 		background-color: $color;
					
			// 		position: relative;
			// 		left: 50%;
			// 		margin-left: $width / -2;
			// 	}
			// }

			// — это блованка, её нужно включить в 2 верхних и в самый низний микс-ины


@mixin bar-after-header( $color, $thickness: 4px ) {
	&:after {
		content: '';
		display: block;
		height: $thickness;
		width: 20%;
		background-color: $color;
		margin-left: 40%;
		margin-top: 15px;
	}
}


@mixin dots-after-header( $color, $font-size: 30px ) {
	&:after {
		content: '• • •';
		display: block;
		font-size: $font-size;
		color: $color;
		width: 20%;
		margin-left: 40%;
		margin-top: 15px;
	}
}


@mixin quote-before-header( $color, $font-size: 30px ) {
	&:before {
		content: '\"';
		display: block;
		font-size: $font-size;
		color: $color;
		width: 20%;
		margin-left: 40%;
		margin-top: 15px;
	}
}


@mixin between-hrs-background ( $bg-url, $align: center ) {

	background: url($bg-url) repeat-x center;

	span {
		display: inline-block;
		padding: 0 .7em;
		background: hsl(0, 100%, 100%);
	}

	@if $align == center {
		text-align: center;
	}

	@if $align == left {
		span { padding-left: 0; }
	}
}




@mixin dash-below (
	$bar-color: hsl(173, 45%, 56%),
	$width: 40px,
	$thickness: 4px,
	$offset: 10px,
	$align: left
) {
	margin-bottom: $offset * 2;

	&:after {
		content: '';
		display: block;
		position: relative;

		background-color: $bar-color;
		width: $width;
		height: $thickness;
		top: $offset;

		@if $align == center {
			left: 50%;
			margin-left: $width / -2;
		}
		@if $align == left {
			left: 2px;
			margin-left: 0;
		}

	}
}
