@mixin text-gradient(
	$color_1: blue,
	$color_2: red,
	$color_fallback: blue,
	$angle: 0
) {
	text-align: center;
	background-image: linear-gradient( #{$angle}deg, $color_1, $color_2 );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: $color_fallback;
}
