// work
$color-text: hsl(210, 5%, 30%);
$color-headers: hsl(210, 15%, 25%);

$color-link: rgb(50, 100, 145);
$color-link-hover: darken( $color-link, 8% );

$color-invert: rgba(255, 255, 255, 0.7);
$color-link-invert: hsl(200, 70%, 70%);
$color-link-invert-hover: hsl(200, 80%, 70%);


// work supplimentary
$color-red: hsl(0, 70%, 45%);
$color-success: hsl(125, 44%, 45%);
$color-salad: hsl(87, 62%, 42%);
$color-warning: hsl(23, 71%, 52%);

$color-text-dark: hsl(0, 0%, 50%);
$color-muted: hsl(0, 0%, 60%);
$color-muted-light: hsl(0, 0%, 70%);

$primary-btn-color: hsl(212, 48%, 46%);


// decoration
$color-milk: hsl(0, 0%, 96%);


// style
// $color-brand: hsl(207, 86%, 38%);
// $color-brand-light: lighten($color-brand, 20%);
// $color-alt: hsl(190, 50%, 50%);
// $color-complimentary: $color-alt;
