@mixin link-border-base
(
	$border-opacity: .2,
	$invert-border-opacity: .3,
	$invert-hover-border-opacity: .8
) {
	text-decoration: none;

	border-bottom-style: solid;
	border-bottom-width: 1px;

	transition-property: color,
								background-color,
								border,
								border-color,
								opacity

	transition-duration: .5s;

	&:hover,
	&:focus {
		text-decoration: none;
		transition-duration: .2s;
	}

	& > img { border: none; }
}
