/* forms (be) start */


.inline-btn {
	margin-left: 6px;
}

.form-help-1 {
	padding-top: 100px;
}

.form-help-2 {
	padding-top: 50px;
}

.form-control {
	border-radius: 2px;
}

.input-lg,
.form-horizontal .form-group-lg .form-control {
	border-radius: 3px;
}

.checkbox-inline label {
	font-weight: normal;
}

.help-block {
	font-size: 13px;
	line-height: 1.35em;
}

label {
	font-weight: 500;
	letter-spacing: .02em;
}

/* forms (be) end */
